/* Главный файл стилей - импортирует все модули */

/* Базовые стили */
@import url('base.css');
@import url('/static/css/styles.css');

/* Компоненты */
@import url('components/header.css');
@import url('components/logo.css');
@import url('components/about.css');
@import url('components/roads.css');
@import url('components/structures.css');
@import url('components/communications.css');
@import url('components/aero.css');
@import url('components/metro.css');
@import url('components/build.css');
@import url('components/sec.css');
@import url('components/team.css');

@import url('components/footer.css');

