.about {
  display: flex;
  width: 100%;
  justify-content: center;
  background: white;
  margin-top: calc(10vh + 70px);
}

.big__up__about {
  margin-left: 45px;
}

.down__about {
  display: flex;
  justify-content: space-between;
}

.content__about {
  width: 1200px;
}

.title__about {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
}

.big__text__about {
  margin-top: 40px;
  color: #1e5093;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  line-height: 1;
}

.bold__about {
  margin-top: 10px;
  color: #1e5093;
  font-family: 'AGForeignerBlackC';
  font-size: 12pt;
}

.thin__about {
  color: black;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  margin-left: 18px;
}

.photo__about {
  margin-top: 13px;
}

.photo__about img {
  width: 550px;
  height: 85%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1000px) {
  .about {
    justify-content: flex-start;
  }

  .content__about {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .title__about {
    font-size: 17pt;
    margin-left: 15px;
    margin-right: 15px;
  }

  .big__text__about {
    font-size: 17pt;
  }

  .big__up__about {
    margin-left: 0px;
  }

  .up__about {
    margin-left: 15px;
    margin-right: 15px;
  }

  .down__about {
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
  }

  .photo__about {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo__about img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    align-items: center;
  }
}
