.about {
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: center;
  background: white;
}

.content__about {
  width: 1200px;
}

.title__about {
  color: #95a3cb;
}

.big__text__about {
  color: #1e5093;
}

.bold__about {
  color: #1e5093;
}

.thin__about {
  color: black;
}