.aero {
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: center;
  background: white;
}

.content__aero {
  width: 1200px;
}

.title__aero {
  color: #95a3cb;
}

.big__text__aero {
  color: #1e5093;
}

.thin__aero {
  color: black;
}