.aero {
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  justify-content: center;
  background: white;
}

.content__aero {
  width: 1200px;
}

.title__aero {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 10px;
}

.big__text__aero {
  color: #1e5093;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  line-height: 1;
  margin-bottom: 10px;
}

.thin__aero {
  color: black;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  margin-left: 17px;
  margin-bottom: 10px;
}

@media (max-width: 1000px){
  .aero {
    justify-content: flex-start;
  }

  .title__aero {
    font-size: 17pt;
    margin-left: 15px;
    margin-right: 15px;

  }

  .big__text__aero {
    font-size: 17pt;
    margin-left: 15px;
    margin-right: 15px;
  }

  .thin__aero li{
    margin-left: 15px;
    margin-right: 15px;
  }
}