.build {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #002443;
}

.content__build {
  width: 1200px;
  margin-bottom: 50px;
}

.title__build {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  margin-bottom: 10px;
}

.big__text__build {
  color: #ffffff;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  line-height: 1;
  margin-bottom: 10px;
}

.bold__build {
  color: white;
  font-family: 'AGForeignerBlackC';
  font-size: 12pt;
}

.thin__build {
  color: white;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  margin-left: 17px;
}

@media (max-width: 1000px){
  .struc {
    justify-content: flex-start;
  }

  .title__build {
    font-size: 17pt;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;

  }

  .big__text__build {
    font-size: 17pt;
    margin-left: 15px;
    margin-right: 15px;
  }

  .bold__build {
    margin-left: 15px;
    margin-right: 15px;
  }

  .thin__build li{
    margin-left: 15px;
    margin-right: 15px;
  }
}