.build {
  display: flex;
  width: 100%;
  padding-top:50px;
  padding-bottom: 60px;
  justify-content: center;
  background: #002443;
}

.content__build {
  width: 1200px;
}

.title__build {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  padding-bottom: 10px;
}

.big__text__build {
  color: #ffffff;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  line-height: 1;
  padding-bottom: 10px;
}

.bold__build {
  color: white;
  font-family: 'AGForeignerBlackC';
  font-size: 12pt;
}

.thin__build {
  color: white;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  padding-left: 17px;
}