.build {
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: center;
  background: #002443;
}

.content__build {
  width: 1200px;
}

.title__build {
  color: #95a3cb;
}

.big__text__build {
  color: #ffffff;
}

.bold__build {
  color: white;
}

.thin__build {
  color: white;
}