.coms {
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: center;
  background: white;
}

.content__coms {
  width: 1200px;
}

.title__coms {
  color: #95a3cb;
}

.big__text__coms {
  color: #1e5093;
}

.bold__com {
  color: #1e5093;
}

.thin__coms {
  color: black;
}

.photo__coms {
  padding-top: 30px;
}

.photo__coms img{
  width: 500px;
  height: 275px;
  object-fit: cover;
  object-position: center;
}