.coms {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  justify-content: center;
  background: white;
}

.content__coms {
  width: 1200px;
}

.title__coms {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  margin-bottom: 10px;
}

.big__text__coms {
  color: #1e5093;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  line-height: 1;
  margin-bottom: 10px;
}

.bold__com {
  color: #1e5093;
  font-family: 'AGForeignerBlackC';
  font-size: 12pt;
}

.thin__coms {
  color: black;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  margin-left: 17px;
}

.photo__coms {
  margin-top: 30px;
}

.photo__coms img{
  width: 500px;
  height: 275px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1000px){
  .coms {
    justify-content: flex-start;
  }

  .title__coms {
    font-size: 24pt;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;

  }

  .big__text__coms {
    font-size: 24pt;
    margin-left: 15px;
    margin-right: 15px;
  }

  .thin__coms li{
    margin-left: 15px;
    margin-right: 15px;
  }
}