.coms {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: center;
  background: white;
}

.content__coms {
  width: 1200px;
}

.title__coms {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  padding-bottom: 10px;
}

.big__text__coms {
  color: #1e5093;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  line-height: 1;
  padding-bottom: 10px;
}

.bold__com {
  color: #1e5093;
  font-family: 'AGForeignerBlackC';
  font-size: 12pt;
}

.thin__coms {
  color: black;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  padding-left: 17px;
}

.photo__coms {
  padding-top: 30px;
}

.photo__coms img{
  width: 500px;
  height: 275px;
  object-fit: cover;
  object-position: center;
}