.footer {
    display: flex;
    background: #002443;
    justify-content: center;
    height: 50vh;

}
.content__footer {
    color: white;
    text-align: center;
    font-family: 'AGForeignerC';
    font-size: 12pt;
    margin: 2rem 0;
}