.footer {
    display: flex;
    background: #002443;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    align-items: center;
}

.content__footer {
    color: white;
    display: flex;
    text-align: center;
    font-family: 'AGForeignerC';
    font-size: 12pt;
    margin: 2rem 0;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1400px;
}

.text__footer {
    margin-top: 30px;
}

@media (max-width:1000px) {
    .content__footer {
        margin-left: 15px;
        margin-right: 15px;
    }
}