/* Стили для компонента Header - ВСЕ классы должны начинаться с .header */
/* Пример: если используете class="content" в header.html, пишите .header .content */

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.up {
    display: flex;
}

.up h1 {
    color: white;

}