.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 10vh;
    background: #002443;
    justify-content: center;
    z-index: 2;
}

.content__header {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'AGForeignerC-Bold';
}

.nav  {
    display: flex;
}

.nav div{
    margin: 10px;
    color: white;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 1000px) {
    .nav div {
        margin:5px;
        font-size: 8pt;
    }
    
}