.header {
    display: flex;
    width: 100%;
    height:100px;
    background: #002443;
    justify-content: center;
}

.content__header {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'AGForeignerC-Bold';

}