.logo {
  display: flex;
  position: relative;
  top: 10vh;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background: #002443;
}

.content__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

.photo__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo__logo img {
  width: 300px
}

.text__logo {
  font-size: 40px;
  color: white;
  max-width: 300px;
  text-align: center;
  line-height: 40px;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
}