.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #002443;
  padding-top: 230px;
  padding-bottom: 310px;
  margin-bottom: 50px;
}

.content__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo__logo img {
  width: 300px
}

.text__logo {
  font-size: 40px;
  color: white;
  max-width: 300px;
  text-align: center;
  line-height: 40px;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
}