.metro {
  display: flex;
  width: 100%;
  padding-top:50px;
  padding-bottom: 50px;
  justify-content: center;
  background: #002443;
}

.content__metro {
  width: 1200px;
}

.title__metro {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  padding-bottom: 10px;
  padding-top: 10px;
}

.big__text__metro {
  color: white;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  line-height: 1;
  padding-bottom: 10px;
}

.thin__metro {
  color: white;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  padding-left: 17px;
  padding-bottom: 10px;
}