.metro {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #002443;
}

.content__metro {
  width: 1200px;
  margin-top: 50px;
  margin-bottom: 90px;
}

.title__metro {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 10px;
}

.big__text__metro {
  color: white;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  line-height: 1;
  margin-bottom: 10px;
}

.thin__metro {
  color: white;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  margin-left: 17px;
  margin-bottom: 10px;
}

@media (max-width: 1000px){
  .metro {
    justify-content: flex-start;
  }

  .title__metro {
    font-size: 19pt;
    margin-left: 15px;
    margin-right: 15px;
  }

  .content__metro {
    width: 100%;
  }

  .big__text__metro {
    font-size: 19pt;
    margin-left: 15px;
    margin-right: 15px;
  }

  .thin__metro li{
    margin-left: 15px;
    margin-right: 15px;
  }
}