.metro {
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: center;
  background: #002443;
}

.content__metro {
  width: 1200px;
}

.title__metro {
  color: #95a3cb;
}

.big__text__metro {
  color: white;
}

.thin__metro {
  color: white;
}