.objects {
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: center;
  background: white;
}

.content__objects {
  width: 1200px;
}

.title__objects {
  color: #95a3cb;
}

.big__text__objects {
  color: #1e5093;
}

.bold__objects {
  color: #1e5093;
}

.thin__objects {
  color: black;
}