.objects {
  display: flex;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
  justify-content: center;
  background: white;
}

.content__objects {
  width: 1200px;
}

.title__objects {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  padding-bottom: 10px;
}

.big__text__objects {
  color: #1e5093;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
}

.bold__objects {
  color: #1e5093;
  font-family: 'AGForeignerBlackC';
  font-size: 12pt;
}

.thin__objects {
  color: black;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  padding-left: 17px;
}

.thin__objects li {
  padding-bottom: 10px;
}