.roads {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  justify-content: center;
  background: white;
}

.block__points__roads {
  display: flex;
  justify-content: space-between;
}

.content__roads {
  width: 1200px;
}

.title__roads {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  margin-bottom: 10px;
}

.big__text__roads {
  color: #1e5093;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  line-height: 1;

}

.bold__roads {
  color: #1e5093;
  font-family: 'AGForeignerBlackC';
  font-size: 12pt;
  margin-top: 10px;
}

.thin__roads {
  color: black;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  margin-left: 18px;
}

.photo__roads {
  margin-top: 15px;
}

.photo__roads img {
  width: 500px;
  height:400px;
  object-fit: cover;
  object-position: center;
  margin-right: 50px;
}

@media (max-width: 1000px) {
  .roads {
    justify-content: flex-start;
  }

  .content__roads {
    width: 100%;;
    display: flex;
    flex-direction: column;
  }

  .title__roads {
    font-size: 17pt;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;

  }

  .big__text__roads {
    font-size: 17pt;
    margin-left: 15px;
    margin-right: 15px;
  }


  .photo__roads {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
  }

  .points__roads {
    display: flex;
    flex-direction: column;
    order: -1;
  }

  .photo__roads img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    align-items: center;
    margin-right: 0px;
  }

  .block__points__roads {
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
  }
}