.roads {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  justify-content: center;
  background: white;
}

.block__points__roads {
  display: flex;
  justify-content: space-between;
}

.content__roads {
  width: 1200px;
}

.title__roads {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  padding-bottom: 10px;
}

.big__text__roads {
  color: #1e5093;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  line-height: 1;

}

.bold__roads {
  color: #1e5093;
  font-family: 'AGForeignerBlackC';
  font-size: 12pt;
  padding-top: 10px;
}

.thin__roads {
  color: black;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  padding-left: 18px;
}

.photo__roads {
  padding-top: 10px;
}

.photo__roads img {
  width: 500px;
  height:400px;
  object-fit: cover;
  object-position: center;
  padding-right: 50px;
}
