.roads {
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: center;
  background: white;
}

.block__points__roads {
  display: flex;
  justify-content: space-between;
}

.content__roads {
  width: 1200px;
}

.title__roads {
  color: #95a3cb;
}

.big__text__roads {
  color: #1e5093;
}

.bold__roads {
  color: #1e5093;
}

.thin__roads {
  color: black;
}

.photo__roads img {
  width: 500px;
  height:400px;
  object-fit: cover;
  object-position: center;
  padding-right: 50px;
}
