.sec {
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: center;
  background: white;
}

.content__sec {
  width: 1200px;
}

.title__sec {
  color: #95a3cb;
}

.big__text__sec {
  color: #1e5093;
}

.bold__sec {
  color: #1e5093;
}

.thin__srtuc {
  color: black;
}