.sec {
  display: flex;
  width: 100%;
  justify-content: center;
  background: white;
  margin-bottom: 70px;
}

.content__sec {
  width: 1200px;
}

.title__sec {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  margin-bottom: 10px;
}

.big__text__sec {
  color: #1e5093;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  margin-top: 10px;
}

.bold__sec {
  color: #1e5093;
  font-family: 'AGForeignerBlackC';
  font-size: 12pt;
}

.thin__sec {
  color: black;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  margin-bottom: 10px;
  margin-left: 17px;
}

@media (max-width: 1000px){
  .struc {
    justify-content: flex-start;
  }

  .title__sec {
    font-size: 17pt;
    margin-left: 15px;
    margin-right: 15px;
  }

  .big__text__sec {
    font-size: 17pt;
    margin-left: 15px;
    margin-right: 15px;
  }

  .bold__sec {
    margin-left: 15px;
    margin-right: 15px;
  }

  .thin__sec li{
    margin-left: 15px;
    margin-right: 15px;
  }
}