.struc {
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: center;
  background: white;
}

.content__struc {
  width: 1200px;
}

.title__struc {
  color: #95a3cb;
}

.big__text__struc {
  color: #1e5093;
}

.bold__struc {
  color: #1e5093;
}

.thin__srtuc {
  color: black;
}