.struc {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  justify-content: center;
  background: white;
}

.content__struc {
  width: 1200px;
}

.title__struc {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  padding-bottom: 10px;
}

.big__text__struc {
  color: #1e5093;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  line-height: 1;
  padding-bottom: 10px;
}

.bold__struc {
  color: #1e5093;
  font-family: 'AGForeignerBlackC';
  font-size: 12pt;
}

.thin__struc {
  color: black;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  padding-left: 17px;
  padding-bottom: 10px;
}