.struc {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  justify-content: center;
  background: white;
}

.content__struc {
  width: 1200px;
}

.title__struc {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
  line-height: 1;
  margin-bottom: 10px;
}

.big__text__struc {
  color: #1e5093;
  font-family: 'AGForeignerLightC';
  font-size: 33pt;
  line-height: 1;
  margin-bottom: 10px;
}

.bold__struc {
  color: #1e5093;
  font-family: 'AGForeignerBlackC';
  font-size: 12pt;
}

.thin__struc {
  color: black;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  margin-left: 17px;
  margin-bottom: 10px;
}

@media (max-width: 1000px){
  .struc {
    justify-content: flex-start;
  }

  .title__struc {
    font-size: 17pt;
    margin-left: 15px;
    margin-right: 15px;

  }

  .big__text__struc {
    font-size: 17pt;
    margin-left: 15px;
    margin-right: 15px;
  }

  .bold__struc {
    margin-left: 15px;
    margin-right: 15px;
  }

  .thin__struc li{
    margin-left: 15px;
    margin-right: 15px;
  }
}