.team {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #002443;
}

.content__team {
  width: 1200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title__team {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
}

.up_team {
  color: white;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  line-height: 1.1;
  margin-bottom: 17px;
}

.down__team {
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

.people__team {
  display: flex;
  max-width: 1200px;
  gap:25px;
}

.person {
  display: flex;
  flex-direction: column;
}

.person img {
  height: 260px;

}

.fio__team {
  color: white;
  font-family: 'AGForeignerMediumC';
  font-size: 12pt;
  margin-top: 17px;
  line-height: 1.1;
  margin-bottom: 1px;
}

.job__team {
  color: white;
  font-family: 'AGForeignerC-Bold';
  font-size: 12pt;
  line-height: 1.1;
}

.about__team {
  color: white;
  max-width: 300px;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  margin-top: 10px;
  line-height: 1.1;
}