.team {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #002443;
}

.content__team {
  width: 1200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title__team {
  color: #95a3cb;
  font-family: 'AGForeignerBlackC';
  font-size: 30pt;
}

.up__team {
  color: white;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  line-height: 1.1;
  margin-bottom: 17px;
}

.down__team {
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

.people__team {
  display: flex;
  max-width: 1200px;
  gap:25px;
}

.person {
  display: flex;
  flex-direction: column;
}

.person img {
  height: 260px;

}

.fio__team {
  color: white;
  font-family: 'AGForeignerMediumC';
  font-size: 12pt;
  margin-top: 17px;
  line-height: 1.1;
  margin-bottom: 1px;
}

.job__team {
  color: white;
  font-family: 'AGForeignerC-Bold';
  font-size: 12pt;
  line-height: 1.1;
  height: 35px;
}

.about__team {
  color: white;
  max-width: 300px;
  font-family: 'AGForeignerC';
  font-size: 12pt;
  margin-top: 10px;
  line-height: 1.1;
}

.director {
  width: 80px;
}

.engineer {
  width: 80px;
}

.fin__director {
  width: 80px;
}

@media (max-width: 1000px) {

  .title__team {
    font-size: 19pt;
    margin-left: 15px;
    margin-right: 15px;
  }

  .up__team {
    margin-left: 15px;
    margin-right: 15px;
  }

  .down__team {
    justify-content: normal;
  }

  .content__team {
    width: 100%;
  }

  .people__team {
    flex-direction: column;
  }

  .person {
    margin-bottom: 15px;
    margin-left: 15px;
  }

  .person img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  .info__team {
    flex: 1;
  }

  .director {
    width: 100%;
  }
  
  .engineer {
    width: 100%;
  }
  
  .fin__director {
    width: 100%;
  }
}