<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лендинг</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    {% include 'components/header.html' %}
    {% include 'components/logo.html' %}
    {% include 'components/about.html' %}
    {% include 'components/roads.html' %}
    {% include 'components/structures.html' %}
    {% include 'components/communications.html' %}
    {% include 'components/aero.html' %}
    {% include 'components/metro.html' %}
    {% include 'components/build.html' %}
    {% include 'components/sec.html' %}
    {% include 'components/objects.html' %}
    {% include 'components/team.html' %}
    {% include 'components/void.html' %}


    {% include 'components/footer.html' %}
</body>
</html>
