<div id="about" class="about">
  <div class="content__about">
    <div class="title__about">
      О КОМПАНИИ
    </div>
    <div class="big__up__about">
      <div class="up__about">
        <div class="big__text__about">
          ООО «ПРОЕКТНОЕ БЮРО 71.12» — КОМАНДА ПРОФЕССИОНАЛОВ В ОБЛАСТИ АРХИТЕКТУРНО-СТРОИТЕЛЬНОГО ПРОЕКТИРОВАНИЯ
        </div>
      </div>
      <div class="down__about">
        <div class="block__points">
          <div class="points__about">
            <div class="bold__about">
              КЛЮЧЕВЫЕ НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ:
            </div>
            <ul class="thin__about">
              <li>Комплексное проектирование автомобильных дорог</li>
              <li>Проектирование искусственных сооружений</li>
              <li>Проектирование инженерных коммуникаций</li>
              <li>Проектирование аэропортов/аэродромов</li>
              <li>Проектирование железных дорог</li>
              <li>Проектирование объектов метрополитена</li>
            </ul>
            <div class="bold__about">
              ДОПОЛНИТЕЛЬНЫЕ НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ:
            </div>
            <ul class="thin__about">
              <li>Проектирование объектов горно-обогатительного комбината</li>
              <li>Проектирование объектов промышленно-гражданского строительства</li>
              <li>Выполнение работ в области охраны окружающей среды</li>
            </ul>
            <div class="bold__about">
              ВИДЫ РАБОТ:
            </div>
            <ul class="thin__about">
              <li>Инженерные изыскания</li>
              <li>Предпроектная документация</li>
              <li>Документация по планировке территории</li>
              <li>Проектная и рабочая документация</li>
              <li>Авторский надзор</li>
              <li>BIM проектирование.</li>
            </ul>
          </div>
        </div>
        <div class="photo__about">
          <img src="/static/img/Str-2_1.jpg">
        </div>
      </div>
    </div>
  </div>
</div>