<div class="aero">
  <div class="content__aero">
    <div class="title__aero">
      ПРОЕКТИРОВАНИЕ АЭРОПОРТОВ/АЭРОДРОМОВ
    </div>
    <div class="up__aero">
      <div class="big__text__aero">
        РАЗРАБАТЫВАЕМ ПРОЕКТНУЮ И РАБОЧУЮ ДОКУМЕНТАЦИЮ НА НОВОЕ СТРОИТЕЛЬСТВО И ПЕРЕУСТРОЙСТВО СЛЕДУЮЩИХ ЭЛЕМЕНТОВ АЭРОПОРТОВ:
      </div>
    </div>
    <div class="down__aero">
      <div class="points__aero">
        <ul class="thin__aero">
          <li>Элементы летного поля, взлетно-посадочные полосы</li>
          <li>Маневровые и вспомогательные пути</li>
          <li>Служебно-техническая территория (диспетчерский центр, пассажирские и грузовые терминалы, ангары для самолетов, склады горючего и заправочные станции).</li>
        </ul>
      </div>
    </div>
    <div class="title__aero">
      ПРОЕКТИРОВАНИЕ ЖЕЛЕЗНЫХ ДОРОГ
    </div>
    <div class="up__aero">
      <div class="big__text__aero">
        РАЗРАБАТЫВАЕМ ПРОЕКТНУЮ И РАБОЧУЮ ДОКУМЕНТАЦИЮ НА НОВОЕ СТРОИТЕЛЬСТВО И ПЕРЕУСТРОЙСТВО СЛЕДУЮЩИХ ВИДОВ ЖЕЛЕЗНОДОРОЖНЫХ ПУТЕЙ:
      </div>
    </div>
    <div class="down__aero">
      <div class="points__aero">
        <ul class="thin__aero">
          <li>Железнодорожные пути общего и необщего пользования</li>
          <li>Подкрановые железнодорожные пути</li>
          <li>Железнодорожные переезды</li>
          <li>Сооружения и устройства сигнализации, централизации и блокировки (СЦБ).</li>
        </ul>
      </div>
    </div>
  </div>
</div>