<div class="build">
  <div class="content__build">
    <div class="title__build">
      ПРОЕКТИРОВАНИЕ ОБЪЕКТОВ ПРОМЫШЛЕННО-ГРАЖДАНСКОГО СТРОИТЕЛЬСТВА
    </div>
    <div class="up_build">
      <div class="big__text__build">
        РАЗРАБАТЫВАЕМ ПРОЕКТНУЮ И РАБОЧУЮ ДОКУМЕНТАЦИЮ НА НОВОЕ СТРОИТЕЛЬСТВО И ПЕРЕУСТРОЙСТВО ОБЪЕКТОВ ПРОМЫШЛЕННО-ГРАЖДАНСКОГО СТРОИТЕЛЬСТВА:
      </div>
    </div>
    <div class="down__build">
      <div class="points__build">
        <div class="bold__build">
          ГРАЖДАНСКИЕ ОБЪЕКТЫ:
        </div>
        <ul class="thin__build">
          <li>Жилые дома</li>
          <li>Школы и детские сады</li>
          <li>Больницы</li>
          <li>Магазины</li>
          <li>Офисные центры</li>
          <li>Спортивные объекты</li>
          <li>Учреждения культуры и досуга</li>
        </ul>
        <div style="margin-top: 10px;" class="bold__build">
          ПРОМЫШЛЕННЫЕ ОБЪЕКТЫ:
        </div>
        <ul class="thin__build">
          <li>Заводы</li>
          <li>Фабрики</li>
          <li>Производственные цеха</li>
          <li>Склады различного назначения</li>
          <li>Промышленные комплексы</li>
        </ul>
      </div>
    </div>
  </div>
</div>