<div class="coms">
  <div class="content__coms">
    <div class="title__coms">
      ПРОЕКТИРОВАНИЕ ИНЖЕНЕРНЫХ КОММУНИКАЦИЙ
    </div>
    <div class="up__coms">
      <div class="big__text__coms">
        РАЗРАБАТЫВАЕМ ПРОЕКТНУЮ И РАБОЧУЮ ДОКУМЕНТАЦИЮ НА НОВОЕ СТРОИТЕЛЬСТВО И ПЕРЕУСТРОЙСТВО СЛЕДУЮЩИХ ВИДОВ ИНЖЕНЕРНЫХ КОММУНИКАЦИЙ:
      </div>
    </div>
    <div class="down__coms">
      <div class="points__coms">
        <ul class="thin__coms">
          <li>Кабельные и воздушные линии напряжением 0,4-10кв, 35 кв</li>
          <li>Воздушные линии напряжением 110 кв и выше</li>
          <li>Наружное освещение автомобильных дорог</li>
          <li>Сети канализации и водопровода</li>
          <li>Сети ливневой канализации</li>
          <li>Локальные очистные сооружения, накопительные емкости и канализационно-насосные станции</li>
          <li>Линейные сооружения связи</li>
          <li>Инженерно-технические системы дорожного мониторинга.</li>
        </ul>
      </div>
      <div class="photo__coms">
        <img src="/static/img/Str-5_2.jpg">
      </div>
    </div>
  </div>
</div>