<footer id="footer" class="footer">
    <div class="content__footer">
        <div style="font-family: 'AGForeignerC-Bold'; font-size: 12pt;">Наши контакты</div>
        <div style="line-height: 1.2;">info@pb7112.ru</div>
        <div style="line-height: 1.2;">+7(921)314-23-41</div>
        <div style="line-height: 1.2;">196006, г. Санкт-Петербург, </div>
        <div style="line-height: 1.2;">вн.тер.г. муниципальный округ Московская застава,</div>
        <div style="line-height: 1.2;">ул. Малая Митрофаньевская, д. 4, литера Л, помещ. 1-Н</div>
        <div style="margin-top: 15px; margin-bottom: 15px;">www.pb7112.ru</div>
        <div style="line-height: 1.2;">Общество с ограниченной ответственностью «Проектное бюро 71.12» (ООО «Проектное бюро 71.12»)</div>
    </div>
</footer>
