<footer class="footer">
    <div class="content__footer">
        <div>Наши контакты</div>
        <div>info@pb7112.ru</div>
        <div>+7(921)314-23-41</div>
        <div>196006, г. Санкт-Петербург, </div>
        <div>вн.тер.г. муниципальный округ Московская застава,</div>
        <div>ул. Малая Митрофаньевская, д. 4, литера Л, помещ. 1-Н</div>
        <div style="margin-top: 15px; margin-bottom: 15px;">www.pb7112.ru</div>
        <div>Общество с ограниченной ответственностью «Проектное бюро 71.12» (ООО «Проектное бюро 71.12»)</div>
    </div>
</footer>
