<footer id="footerBlock" class="footer">
    <div class="content__footer">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab7b0149ffbd782ee106895624b015c907fd8a7ed811f533db51890c3a4fe817b&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
        <div class="text__footer">
            <div style="font-family: 'AGForeignerC-Bold'; font-size: 12pt;">Наши контакты</div>
            <div style="line-height: 1.5;">info@pb7112.ru</div>
            <div style="line-height: 1.5; color: white">+7 (921) 314-23-41</div>
            <div style="line-height: 1.5;">196006, г. Санкт-Петербург, </div>
            <div style="line-height: 1.5;">вн.тер.г. муниципальный округ Московская застава,</div>
            <div style="line-height: 1.5;">ул. Малая Митрофаньевская, д. 4, литера Л, помещ. 1-Н</div>
            <div style="margin-top: 15px; margin-bottom: 15px;">www.pb7112.ru</div>
            <div style="line-height: 1.5;">Общество с ограниченной ответственностью «Проектное бюро 71.12» (ООО «Проектное бюро 71.12»)</div>
        </div>
    </div>
</footer>
