<div class="metro">
  <div class="content__metro">
    <div class="title__metro">
      ПРОЕКТИРОВАНИЕ ОБЪЕКТОВ МЕТРОПОЛИТЕНА
    </div>
    <div class="up__metro">
      <div class="big__text__metro">
        РАЗРАБАТЫВАЕМ ПРОЕКТНУЮ И РАБОЧУЮ ДОКУМЕНТАЦИЮ НА НОВОЕ СТРОИТЕЛЬСТВО И ПЕРЕУСТРОЙСТВО ТОННЕЛЕЙ, ПОДЗЕМНЫХ И НАЗЕМНЫХ СООРУЖЕНИЙ:
      </div>
    </div>
    <div class="down__metro">
      <div class="points__metro">
        <ul class="thin__metro">
          <li>Трасса и верхнее строение пути, организация эксплуатации</li>
          <li>Электроснабжение, вентиляция, водоснабжение</li>
          <li>Различные способы связи и автоматизации</li>
          <li>Проектные работы по средствам обеспечения пожарной безопасности зданий и сооружений.</li>
        </ul>
      </div>
    </div>
    <div class="title__metro">
      ПРОЕКТИРОВАНИЕ ОБЪЕКТОВ ГОРНООБОГАТИТЕЛЬНОГО КОМПЛЕКСА
    </div>
    <div class="up__metro">
      <div class="big__text__metro">
        РАЗРАБАТЫВАЕМ ПРОЕКТНУЮ И РАБОЧУЮ ДОКУМЕН- ТАЦИЮ НА НОВОЕ СТРОИТЕЛЬСТВО И ПЕРЕУСТРОЙСТВО ОБЪЕКТОВ ГОРНО-ОБОГАТИТЕЛЬНОГО КОМПЛЕКСА:
      </div>
    </div>
    <div class="down__metro">
      <div class="points__metro">
        <ul class="thin__metro">
          <li>Промышленные площадки различного назначения</li>
          <li>Обогатительные фабрики</li>
          <li>Открытые и закрытые склады различного назначения</li>
          <li>Транспортные узлы и пункты погрузки</li>
          <li>Подъездные железнодорожные пути и станции</li>
          <li>Технологические автомобильные дороги.</li>
        </ul>
      </div>
    </div>
  </div>
</div>