<div class="objects">
  <div class="content__objects">
    <div class="title__objects">
      ПЕРЕЧЕНЬ НАИБОЛЕЕ ЗНАЧИМЫХ ОБЪЕКТОВ, ВЫПОЛНЕННЫХ КОМАНДОЙ СПЕЦИАЛИСТОВ ООО «ПРОЕКТНОЕ БЮРО 71.12»
    </div>
    <div class="up_about">
    </div>
    <div class="down__objects">
      <div class="points__objects">
        <ul class="thin__objects">
          <li>КАПИТАЛЬНЫЙ РЕМОНТ АВТОМОБИЛЬНОЙ ДОРОГИ А-122 АВТОМОБИЛЬНАЯ ДОРОГА А- 114 – УСТЮЖНА– КРЕСТЦЫ – ЯЖЕЛБИЦЫ – ВЕЛИКИЕ ЛУКИ – НЕВЕЛЬ НА УЧАСТКЕ УСТЮЖНА – ВАЛДАЙ КМ 26+245 - КМ 48+440, НОВГОРОДСКАЯ ОБЛАСТЬ</li>
          <li>КАПИТАЛЬНЫЙ РЕМОНТ АВТОМОБИЛЬНОЙ ДОРОГИ М-5 «УРАЛ» МОСКВА – РЯЗАНЬ – ПЕНЗА – САМАРА – УФА – ЧЕЛЯБИНСК (ПОДЪЕЗД К ГОРОДУ ОРЕНБУРГ)</li>
          <li>РАЗРАБОТКА ПРОЕКТНО-СМЕТНОЙ И РАБОЧЕЙ ДОКУМЕНТАЦИИ УЛИЧНО- ДОРОЖНОЙ СЕТИ, ВНУТРИКВАРТАЛЬНЫХ ПРОЕЗДОВ, СЕТЕЙ СВЯЗИ И ЛИВНЕВОЙ КАНАЛИЗАЦИИ В МИКРОРАЙОНЕ №7 Г. КИНГИСЕППА КИНГИСЕППСКОГО МУНИЦИПАЛЬНОГО РАЙОНА ЛЕНИНГРАДСКОЙ ОБЛАСТИ</li>
          <li>КАПИТАЛЬНЫЙ РЕМОНТ УЛИЧНО-ДОРОЖНОЙ СЕТИ В Г. МАРИУПОЛЬ</li>
          <li>ТРАНСПОРТНАЯ РАЗВЯЗКА АВТОМОБИЛЬНОЙ ДОРОГИ «ЗАПАДНЫЙ СКОРОСТНОЙ ДИАМЕТР» НА ПЕРЕСЕЧЕНИИ С ШУВАЛОВСКИМ ПРОСПЕКТОМ С СЕТЯМИ ИНЖЕНЕРНО-ТЕХНИЧЕСКОГО ОБЕСПЕЧЕНИЯ</li>
          <li>СКЛАД НЕФТЕПРОДУКТОВ 10 000 М3 ООО «БЕРИНГПРОМУГОЛЬ» ПЛОЩАДКА СТРОИТЕЛЬСТВА РАЗРЕЗ «ФАНДЮШКИНСКОЕ ПОЛЕ»</li>
          <li>ВСКРЫТИЕ И ОТРАБОТКА ЮГО-ЗАПАДНОГО БЛОКА ШАХТЫ «ВОРГАШОРСКАЯ»</li>
          <li>ПРОЕКТНАЯ ДОКУМЕНТАЦИЯ ПО ОЛЕНЕГОРСКОМУ ПОДЗЕМНОМУ РУДНИКУ</li>
          <li>ВТОРОЙ СЕВЕРОМУЙСКИЙ ТОННЕЛЬ ВОСТОЧНО-СИБИРСКОЙ ЖЕЛЕЗНОЙ ДОРОГИ. ЭТАП 3.1. ОТВАЛ ГОРНЫХ ПОРОД</li>
          <li>ВТОРОЙ КОДАРСКИЙ ТОННЕЛЬ ВОСТОЧНО-СИБИРСКОЙ ЖЕЛЕЗНОЙ ДОРОГИ. ЭТАП 4. ОТВАЛЫ ГОРНЫХ ПОРОД</li>
        </ul>
      </div>
    </div>
  </div>
</div>