<div class="roads">
  <div class="content__roads">
    <div class="title__roads">
      КОМПЛЕКСНОЕ ПРОЕКТИРОВАНИЕ АВТОМОБИЛЬНЫХ ДОРОГ
    </div>
    <div class="up__roads">
      <div class="big__text__roads">
        РАЗРАБАТЫВАЕМ ПРОЕКТНУЮ И РАБОЧУЮ ДОКУМЕНТАЦИЮ НА СТРОИТЕЛЬСТВО, РЕКОНСТРУКЦИЮ И КАПИТАЛЬНЫЙ РЕМОНТ АВТОМОБИЛЬНЫХ ДОРОГ
      </div>
    </div>
    <div class="down__roads">
      <div class="points__roads">
        <div class="bold__roads">
          ОПЫТ ПРОЕКТИРОВАНИЯ ДОРОГ:
        </div>
        <ul class="thin__roads">
          <li>Федерального значения</li>
          <li>Регионального значения</li>
          <li>Городских дорог (улично-дорожная сеть, городские транспортные узлы и развязки)</li>
          <li>Местного значения </li>
          <li>Частных автодорог</li>
        </ul>
        <div class="bold__roads">
          В ЧАСТИ СЛОЖНОСТИ:
        </div>
        <ul class="thin__roads">
          <li>На слабых основаниях</li>
          <li>В условиях вечной мерзлоты</li>
          <li>В условиях горной местности</li>
          <li>В стесненных условиях городской застройки</li>
        </ul>
        <div class="bold__roads">
          ИСПОЛЬЗУЕМОЕ ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ:
        </div>
        <ul class="thin__roads">
          <li>Топоматик Robur – Автомобильные дороги</li>
          <li>PLAXIS 3D (для решения геотехнических задач)</li>
          <li>«AutoCAD Civil 3D» и «Revit» (выполнение проектной и рабочей документации, включая чертежи)</li>
          <li>«AutoCAD Navisworks» (для создания моделей)</li>
          <li>«AutoCAD Infraworks» (для создания визуализаций).</li>
        </ul>
      </div>
      <div class="photo__roads">

      </div>
    </div>
  </div>
</div>