<div class="sec">
  <div class="content__sec">
    <div class="title__sec">
      ВЫПОЛНЕНИЕ РАБОТ В ОБЛАСТИ ОХРАНЫ ОКРУЖАЮЩЕЙ СРЕДЫ
    </div>
    <div class="up__sec">
    <div class="down__sec">
      <div class="points__sec">
        <div class="bold__sec">
          ИНЖЕНЕРНО-ЭКОЛОГИЧЕСКИЕ ИЗЫСКАНИЯ:
        </div>
        <ul class="thin__sec">
          <li>Подготовка и составление программы изысканий</li>
          <li>Полевые, лабораторные и камеральные работы</li>
          <li>Подготовка технического отчета по результатам инженерных изысканий</li>
        </ul>
        <div class="bold__sec">
          ПРОЕКТНЫЕ РАБОТЫ:
        </div>
        <ul class="thin__sec">
          <li>Выполнение оценки воздействия на окружающую среду (ОВОС) в соответствии с правилами проведения оценки воздействия на окружающую среду, утвержденными постановлением правительства России от 28 ноября 2024 г. №1644 «О порядке проведения оценки воздействия на окружающую среду»</li>
          <li>Разработка разделов «Мероприятия по охране окружающей среды», «Рекультивация земель» в составе проектной документации</li>
          <li>Разработка «Проекта санитарно-защитной зоны» и его согласование с органами санитарно-эпидемиологического надзора</li>
        </ul>
        <div class="bold__sec">
          СОПРОВОЖДЕНИЕ ПРОЕКТНОЙ ДОКУМЕНТАЦИИ:
        </div>
        <ul class="thin__sec">
          <li>При прохождении государственной экологической экспертизы согласно требованиям федерального закона «Об экологической экспертизе» от 23.11.1995 №174-фз (в т.ч., организация и проведение общественных обсуждений объекта государственной экологической экспертизы)</li>
          <li>При согласовании федеральным агентством по рыболовству или его территориальными управлениями в соответствии с требованиями постановления правительства российской федерации от 30 мая 2025 г. N 799 «О согласовании федеральным агентством по рыболовству строительства и реконструкции объектов капитального строительства, внедрения новых технологических процессов и осуществления иной деятельности, оказывающей воздействие на водные биологические ресурсы и среду».</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>