<div class="struc">
  <div class="content__struc">
    <div class="title__struc">
      ПРОЕКТИРОВАНИЕ ИСКУССТВЕННЫХ СООРУЖЕНИЙ
    </div>
    <div class="up__struc">
      <div class="big__text__struc">
        РАЗРАБАТЫВАЕМ ПРОЕКТНУЮ И РАБОЧУЮ ДОКУМЕНТАЦИЮ НА СТРОИТЕЛЬСТВО, РЕКОНСТРУКЦИЮ И КАПИТАЛЬНЫЙ РЕМОНТ ИСКУССТВЕННЫХ СООРУЖЕНИЙ:
      </div>
    <div class="down__struc">
      <div class="points__struc">
        <ul class="thin__struc">
          <li>Мосты, эстакады, путепроводы</li>
          <li>Водопропускные трубы</li>
          <li>Автомобильные тоннели</li>
          <li>Подземные и надземные пешеходные переходы</li>
          <li>Железобетонные и габионные подпорные стены</li>
        </ul>
        <div class="bold__struc">
          А ТАКЖЕ:
        </div>
        <ul class="thin__struc">
          <li>Шумозащитные экраны</li>
          <li>Рамные опоры дорожных знаков индивидуального проектирования.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>