<div class="team">
  <div id="team" class="content__team">
    <div class="title__team">
      НАША КОМАНДА
    </div>
    <div class="up__team">
      Мы любим своё дело и в каждом проекте находим оптимальные решения, отвечающие потребностям наших заказчиков. Для каждого проекта назначается тщательно подобранная команда специалистов, чтобы обеспечить оптимальное взаимодей- ствие представителей разных специальностей. Наша команда руководителей также задействована на протяжении всего проекта. Все это гарантирует, что мы обеспечим целостный подход к реализации проекта и доведём его до положительного результата.
    </div>
    <div class="down__team">
      <div class="people__team">
        <div class="person">
          <img src="/static/img/Chistyakov.jpg">
          <div class="info__team">
            <div class="fio__team">
              ЧИСТЯКОВ ПАВЕЛ ЛЕОНИДОВИЧ
            </div>
            <div class="job__team director">
              Генеральный директор
            </div>
            <div class="about__team">
              Окончил Санкт-Петербургский Политехнический университет по специальностям «Строительство», «Менеджмент организации». Более 15 лет опыта работы в сфере архитектурно-строительного проектирования.
            </div>
          </div>
        </div>
        <div class="person">
          <img src="/static/img/Anisimova.jpg">
          <div class="info__team">
            <div class="fio__team">
              АНИСИМОВА ТАТЬЯНА АЛЕКСАНДРОВНА
            </div>
            <div class="job__team">
              Заместитель генерального директора
            </div>
            <div class="about__team">
              Окончила Санкт-Петербургский государственный инженерно-экономический университет по специальности «Экономика и управление на предприятии городского хозяйства». Более 15 лет опыта работы в строительных и проектных организациях. Член НРС в области инженерных изысканий и архитектурно-строительного проектирования.
            </div>
          </div>
        </div>
        <div class="person">
          <img src="/static/img/Savchenko.jpg">
          <div class="info__team">
            <div class="fio__team">
              САВЧЕНКО АНДРЕЙ ВЛАДИМИРОВИЧ
            </div>
            <div class="job__team engineer">
              Главный инженер
            </div>
            <div class="about__team">
              Окончил Санкт-Петербургский государственный горный институт по специальности «Инженерная защита окружающей среды». Более 20 лет опыта работы в сфере архитектурно-строительного проектирования. Член НРС в области инженерных изысканий и архитектурно-строительного проектирования.
            </div>
          </div>
        </div>
        <div class="person">
          <img src="/static/img/Vedeneev.jpg">
          <div class="info__team">
            <div class="fio__team">
              ВЕДЕНЕЕВ ПАВЕЛ АЛЕКСАНДРОВИЧ
            </div>
            <div class="job__team fin__director">
              Финансовый директор
            </div>
            <div class="about__team">
              Окончил Санкт-Петербургский государственный университет экономики и финансов по специально- сти «Национальная экономика». Более 15 лет опыта работы в строительных и проектных организациях.
            </div>
          </div>
        </div>
        <div class="person">
          <img src="/static/img/Shastin_02.jpg">
          <div class="info__team">
            <div class="fio__team">
              ШАСТИН АЛЕКСАНДР ВАЛЕРЬЕВИЧ
            </div>
            <div class="job__team">
              Комплексный главный инженер проекта
            </div>
            <div class="about__team">
              Окончил Петрозаводский государственный университет по специальности «Автоматизированные системы обработки информации и управления». Более 15 лет опыта работы в сфере архитектурно-строительного проектирования. Член НРС в области инженерных изысканий и архитектурно-строительного проектирования.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>